<div>
  <br><br><br>
    <h1><b>⋆˚₊✩ Niki's YouTube System ✩₊˚⋆</b></h1>
    <br><br>
    <div class="container">
      <h2>Welcome Buddies!</h2>
      <p>Introducing our new YouTube integration feature! Now, you can enjoy seamless access to YouTube directly from our website. With just a few clicks, you can watch your favorite YouTube videos without ever leaving our platform.</p>
      <p>Whether you're browsing for entertainment, educational content, or anything in between, our integrated YouTube system makes it easy and convenient. Say goodbye to switching between tabs or apps – enjoy uninterrupted viewing right here on our website.</p>
      <p>Start exploring and discovering amazing content today!</p>
    </div>
  </div>